{% extends 'base.html.twig' %}

{% block title %}STEAMISH{% endblock %}

{% block body %}

    <div class="container">

        <div class="bg-dark mt-4 p-3">
            <h3 class="text-white">Featured Games</h3>
            <div class="row d-flex justify-content-evenly">
                {% include 'common/partial/game_loop.html.twig' with {
                    'games' : displayGamesByName
                } %}
            </div>
        </div>

        <div class="bg-dark mt-5 p-3">
            <h3 class="text-white">New Releases</h3>
            <div class="row d-flex justify-content-evenly">
                {% include 'common/partial/game_loop.html.twig' with {
                    'games' : displayGamesByReleaseDate
                } %}
            </div>
        </div>

        <div class="bg-dark mt-5 p-3">
            <h3 class="text-white">Latest Comments</h3>
            <div class="row d-flex justify-content-evenly">
                {% for comment in displayLatestComments %}
                    <div class="card mt-3" style="width: 15rem;">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">{{ comment.game.name }}</h6>
                            <p class="card-text">{{ comment.content|slice(0, 60) }}...</p>
                            <h6 class="card-subtitle mb-2 text-muted">{{ comment.account.nickname }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ comment.createdAt|date ('d-m-Y H:i') }}</h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="bg-dark mt-5 p-3">
            <h3 class="text-white">Most Played Games</h3>
            <div class="row d-flex justify-content-evenly">
                {% include 'common/partial/game_loop.html.twig' with {
                    'games' : displayMostPlayedGames
                } %}
            </div>
        </div>

    </div>


{% endblock %}